#include <stdio.h>
#include <stdlib.h>
#include "ogame.h"
int main() {
  char* universe = getenv("UNIVERSE");
  char* username = getenv("USERNAME");
  char* password = getenv("PASSWORD");
  char* language = getenv("LANGUAGE");
  char* error_msg;
  error_msg = OGame(universe, username, password, language);
  if (error_msg) {
    printf("Error: %s\n", error_msg);
    exit(1);
  }

  struct GetPlanet_return p = GetPlanet(123);
  if (p.r11) {
    printf("Error: %s\n", p.r11);
  }

  struct IsUnderAttack_return pp = IsUnderAttack();
  if (pp.r0 == 1) {
    printf("Attack detected\n");
  } else {
    printf("No attack detected\n");
  }
}
