{{define "header"}}
<!DOCTYPE html>
<html>
<head>
	<title>OGame Bot</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style type="text/css">
	body {
		padding-bottom: 70px;
	}
	
	.content {
		margin: 10px;
	}
	
	table {
	  border-collapse: collapse;
	}
	
	td {
	  height: 50px;
	  vertical-align: top;
	}

	table, th, td {
	  border: 1px solid black;
	}
	</style>
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Go App</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Bot</a></li>
				<li><a href="/empire">Empire</a></li>
				<li><a href="/planet">Planet</a></li>
				<li><a href="/flights">Flights</a></li>
				<li><a href="/browser">Browser</a></li>
			</ul>
		</div>
	</nav>
{{end}}